body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Arial, sans-serif;
  width: 80%;
  padding-top: 10px;
  margin: 10px auto;
  color: #212427;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-weight: normal;
  font-family: Verdana, Helvetica, sans-serif;
}

h3 {
  font-weight: bold;
  font-family: Verdana, Helvetica, sans-serif;
}

p {
  width: 60%;
  line-height: 1.5;
  margin-bottom: 5px;
  text-align: center;
  max-width: 700px;
}

#hiddenPara {
  display: none;
  color: green;
  margin-top: -5px;
}

#input-container {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 60%;
  max-width: 700px;
}

textarea {
  width: 45%;
  height: 200px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  font-family: Verdana, Helvetica, sans-serif;
}

button {
  padding: 12px 24px;
  margin: 16px 0px;
  background-color: #01263f;
  color: #fff;
  border: solid;
  border-color: #01263f;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#submit:hover {
  background-color: #1a3b52;
  border-color: #1a3b52;
}

#reset {
  background-color: #fff;
  color: #333;
  border: solid;
  border-color: #01263f;
  border-radius: 5px;
}

#reset:hover {
  border-color: #1a3b52;
}

.exportBtn  {
  background-color: green;
  border-color: green;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  width: 40%;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.counter {
  font-size: small;
  text-align: center;
}

#footer {
  margin-top: 20px;
  font-size: small;
  text-align: center;
}

a {
  color: #333;
}

a:hover {
  color: #000;
}

a:visited {
  color: #333;
}

#hiddenDiv {
  display: none;
}

.FAQ {
  text-align: left;
  font-size: 0.9rem;
}

h3.FAQ {
  margin-bottom: 0px;
}

p.FAQ {
  width: 100%;
}

@media (max-width: 767px) {
  #input-container {
    flex-direction: column;
  }
  #input-container {
    width: 90%;
  }
  textarea {
    width: 100%;
    margin: 20px 0;
  }
  p {
    width: 100%;
  }
  #copy {
    margin-top: 20px;
  }
  table {
    width: 90%;
    table-layout: fixed;
  }
}
